.wrapper {
  min-height: 100vh;
}

.container {
  display: flex;
  min-height: calc(100vh - 85px);
}

.header {
  display: flex; /* Aligns child divs in a row */
  justify-content: space-between; /* Separates the child divs to each end */
  align-items: center; /* Vertically centers the child divs */
  padding: 20px;
  height: 85px;
}

.header .logo {
  width: 140px
}

.header .logout {
  text-decoration: underline;
  float: right;
  font-size: 1rem;
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Take up remaining space */
}

@media screen and (min-width: 767px) {
  /* Adjustments for mobile view */
  .dashboard {
    flex-direction: column;
  }
}