.wrapper {
  min-height: 100vh;
}

.container {
  display: flex;
}

.header {
  padding: 20px;
}

.header .logo {
  width: 140px
}

.content {
  display: flex;
  flex-direction: column;
  flex-grow: 1; /* Take up remaining space */
}

@media screen and (min-width: 767px) {
  /* Adjustments for mobile view */
  .dashboard {
    flex-direction: column;
  }
}