.container {
  --card-border-color: rgba(255, 255, 255, .2);
  background: linear-gradient(180deg,rgba(255,255,255,.03) 0%,rgba(255,255,255,0) 100%);
  border: 1px solid var(--card-border-color);
  border-radius: 22px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, .2);
  color: white;
  display: flex;
  flex: none;
  flex-direction: column;
  flex-wrap: nowrap;
  align-content: center;
  align-items: center;
  justify-content: center;
  gap: 10px;
  min-height: 460px;
  min-width: 410px;
  overflow: hidden;
  position: relative;
  white-space: pre;
  padding: 30px 0;
  will-change: transform;
}

.card .header {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  line-height: 1.2;
  text-transform: none;
  font-weight: 600;
  font-size: 24px;
}

.card .content {
  --card-text-color: rgb(241, 245, 249);
  font-family: Inter-Light, Inter, Inter Placeholder, sans-serif;
  font-style: normal;
  font-weight: 300;
  color: var(--card-text-color);
  font-size: 19px;
  letter-spacing: -0.38px;
  text-transform: none;
  text-decoration: none;
  line-height: 30px;
  text-align: center;
}