.sidenav {
  /* Basic styles */
  width: 250px; /* Adjust as needed */
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidenav.open {
  transform: translateX(0);
}

@media (min-width: 769px) {
  .sidenav {
    transform: translateX(0); /* Always open on desktop */
  }
}